# registry = https://registry.npmjs.org
registry = https://registry.npmmirror.com

strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
ignore-workspace-root-check=true
install-workspace-root=true

# 确保 阮喵喵 的依赖包，一定是从官方镜像下载最新版
@ruan-cat:registry=https://registry.npmjs.org/
